﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager
@inject UserManager<Users> UserManager

<ul class="navbar-nav ms-auto">
    @if (signInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        <li class="nav-item">
            <span class="nav-link text-dark" style="font-size: 1.25rem;">Welcome, @user.FullName</span>
        </li>
        <li class="nav-item mb-2 me-2">
            @* <a class="nav-link text-dark" asp-controller="Account" asp-action="ChangePassword">Change Password</a> *@
            <a class="btn btn-primary" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
        </li>
        <li class="nav-item">
            @* <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a> *@
            <a class="btn btn-danger" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item me-2">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }

</ul>